<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>vietmind_mobile</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.670374882757-cructl1jmhrqbhc2sv1vorvpn6qf2dg5</string>
				<string>fb1677651809436240</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAppID</key>
	<string>1677651809436240</string>
	<key>FacebookClientToken</key>
	<string>4d15eb4e74e54bfe75bfdfb146e7fe8f</string>
	<key>FacebookDisplayName</key>
	<string>APP-NAME</string>
	<key>GIDClientID</key>
	<string>670374882757-cructl1jmhrqbhc2sv1vorvpn6qf2dg5.apps.googleusercontent.com</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>91.108.104.57</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSTemporaryExceptionMinimumTLSVersion</key>
				<string>TLSv1.0</string>
			</dict>
			<key>New Exception Domain</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>New Exception Domain 1</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>UIAppFonts</key>
	<array>
		<string>museoModerno.ttf</string>
		<string>museoModerno_italic.ttf</string>
		<string>MuseoModerno-Black.ttf</string>
		<string>MuseoModerno-BlackItalic.ttf</string>
		<string>MuseoModerno-Bold.ttf</string>
		<string>MuseoModerno-BoldItalic.ttf</string>
		<string>MuseoModerno-ExtraBold.ttf</string>
		<string>MuseoModerno-ExtraBoldItalic.ttf</string>
		<string>MuseoModerno-ExtraLight.ttf</string>
		<string>MuseoModerno-ExtraLightItalic.ttf</string>
		<string>MuseoModerno-Italic.ttf</string>
		<string>MuseoModerno-Light.ttf</string>
		<string>MuseoModerno-LightItalic.ttf</string>
		<string>MuseoModerno-Medium.ttf</string>
		<string>MuseoModerno-MediumItalic.ttf</string>
		<string>MuseoModerno-Regular.ttf</string>
		<string>MuseoModerno-SemiBold.ttf</string>
		<string>MuseoModerno-SemiBoldItalic.ttf</string>
		<string>MuseoModerno-Thin.ttf</string>
		<string>MuseoModerno-ThinItalic.ttf</string>
		<string>SF-Pro-Display-Black.otf</string>
		<string>SF-Pro-Display-BlackItalic.otf</string>
		<string>SF-Pro-Display-Bold.otf</string>
		<string>SF-Pro-Display-BoldItalic.otf</string>
		<string>SF-Pro-Display-Heavy.otf</string>
		<string>SF-Pro-Display-HeavyItalic.otf</string>
		<string>SF-Pro-Display-Light.otf</string>
		<string>SF-Pro-Display-LightItalic.otf</string>
		<string>SF-Pro-Display-Medium.otf</string>
		<string>SF-Pro-Display-MediumItalic.otf</string>
		<string>SF-Pro-Display-Regular.otf</string>
		<string>SF-Pro-Display-RegularItalic.otf</string>
		<string>SF-Pro-Display-Semibold.otf</string>
		<string>SF-Pro-Display-SemiboldItalic.otf</string>
		<string>SF-Pro-Display-Thin.otf</string>
		<string>SF-Pro-Display-ThinItalic.otf</string>
		<string>SF-Pro-Display-Ultralight.otf</string>
		<string>SF-Pro-Display-UltralightItalic.otf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
